h1 {
    color: red;
}
a
{
    color: #c1caaa;
    text-decoration: none;
}
a:hover
{
    background-color: #2a5c2a;
    transition: all 1s;
}
.container-fluid
{
    padding-top: 1%;
    padding-bottom: 0.5%;
    padding-right: 64.3%;
    background-color: #0f310f;
}
